---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'About Mitchel\'s Blog';
const description = 'About Mitchel\'s Blog';
const permalink = `${Astro.site.href}mitchels-blog/about`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="about">
  <div class="container">
    <h1>About</h1>
    <figure class="about-image">
      <img src="/assets/logo.webp" alt="Illustration of a notebook" width="330">
      <figcaption>
        AI interpretation of the Nydam crest.
      </figcaption>
    </figure>

    <p>On the right you find my family crest. Or at least, an AI interpretation of it,
      <a href="https://www.nijdamstra.nl/Familiewapen/Nijdam-Familiewapen/" target="_blank">the original</a> is much
      cooler but doesn't fit my blog's modern style. Why is this relevant you might think. Well, the Nijdams have been
      a family of crafts. From butchershops to woodworking, I've grown up to enjoy working with my hands.</p>

    <p>Coding and software development is also a craft. For over 7 years now I am practicing this art.
      I've always been keen on sharing knowledge with others, hence this blog. Topics such as Apache Kafka, Kotlin,
      Spring Boot, Kubernetes and AI are what I love to talk about. I have been a speaker at several meetups and
      conferences, where the stress beforehand has been always worth the dopamine boost I get from seeing people that
      enjoyed it after.</p>

    <p>In the age of AI that we find ourselves in, I feel that it is my duty to influence the direction of this
      powerful technology. It should benefit us all, and not just the already powerful and wealthy.
      I'll write blogs about both the optimistic side (what is technically possible) and the pessimistic side
      (what impact will it have).</p>

    <p>Hey, welcome to my personal blog! My name is Mitchel Nijdam, and this is the space where I share my
      thoughts, knowledge, experiences and opinions. Every opinion you'll read here is my own, and I am not speaking on
      behalf of any company or brand, although I am currently employed at
      <a href="https://www.teamrockstars.nl/" target="_blank">Team Rockstars IT.</a></p>

    <p>Do you enjoy my blog? Please let me know on
      <a href="https://www.linkedin.com/in/mitchel-nijdam/" target="_blank">LinkedIn</a>.</p>

  </div>
</BaseLayout>

<style>
  .about-image {
    float: right;
    margin: -3em -7em 2em 2em;
    max-width: 300px;
  }

  .about-image img {
    border-radius: 8px;
    margin-bottom: 1.5em;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
