<div>
  <img src="/assets/profile-pic.png" alt="Headshot of Mitchel Nijdam">
  <p>
    Hi, I'm <strong>Mitchel</strong>. I'm a software engineer and AI enthousiast in the Netherlands.
    You can follow me on <a href="https://www.x.com/MitchelNijdam" target="_blank">X</a>,
    see some of my work on <a href="https://www.github.com/MitchelNijdam-Rockstars" target="_blank">GitHub</a>,
    or read more about me on <a href="https://www.mitchelnijdam.com" target="_blank">my website</a>.
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
